<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="../statics/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../statics/css/simple-sidebar.css" rel="stylesheet">


</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->


        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- js de cytoscape -->
                                   <link href="../statics/css/style.css" rel="stylesheet" />

                                    <script src="../statics/cytoscape/dist/cytoscape.min.js"></script>
                                  <div id="cytoscape_custom" >

                                      <div id="cy"></div>
                                      <!-- Load application code at the end to ensure DOM is loaded -->
                                      <script src="../statics/js/code.js"></script>
                                  </div>
                        <!-- js de cytoscape end -->
                    </div>
                </div>
            </div>
        </div>
    <!-- jQuery -->
    <script src="../statics/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../statics/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
