<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Auto Yaproto</title>

    <!-- Bootstrap Core CSS -->
    <link href="../statics/css/bootstrap.min.css" rel="stylesheet">
    <link href="../statics/js/js-panzoom.js">

    <!-- Custom CSS -->
    <link href="../statics/css/simple-sidebar.css" rel="stylesheet">
    <link href="../statics/css/style.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" rel="stylesheet">
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <div id="wrapper" class="container">

                <!-- Sidebar -->
                <div id="sidebar-wrapper">
                    <ul class="sidebar-nav">
                        <li class="sidebar-brand">
                            <a href="#">
                                Auto Yaproyo
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#myModal">
                                Nodes
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#myModal3">
                                Routers
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#myModal2">
                                Edges
                            </a>
                        </li>

                        <li>
                            <a href="#" data-toggle="modal" data-target="#myModal4">
                                Deploy
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#myModal5">
                                Destroy
                            </a>
                        </li>

                        <li>
                            <a href="#" id="checkNames" data-toggle="modal" data-target="#myModal6">
                                Rip
                            </a>
                        </li>
                        <li>
                            <a href="#" id="checkNamesOspf" data-toggle="modal" data-target="#myModal7">
                                Ospf
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#myModal8">
                                Save
                            </a>
                        </li>
                        <li>
                            <a href="#" id="checkJson" data-toggle="modal" data-target="#myModal9">
                                Load
                            </a>
                        </li>
                        <li>
                            <a href="#" id="infoNet" data-toggle="modal" data-target="#myModal10">
                                Info network
                            </a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /#sidebar-wrapper -->

            </div>
        </div>
        <div class="col-sm-10">

            <div id="cy-container">
                <div id="cy"></div>
            </div>
        </div>
    </div>

    <!-- The Modal Nodes -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Nodes</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form action="/action_page.php">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="net">Net:</label>
                            <input type="text" class="form-control" id="net">
                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" id="addNode">Add</button>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" id="deleteNode">Delete</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <!-- The Modal Edges -->
    <div class="modal fade" id="myModal2">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Edges</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="router">Router:</label>
                            <input type="text" class="form-control" id="router">
                            <label for="net_edge">Net o Router:</label>
                            <input type="text" class="form-control" id="net_edge">
                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" id="addEdge">Add</button>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" id="deleteEdge">Delete</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <!-- The Modal Routers -->
    <div class="modal fade" id="myModal3">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Router</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="router">Router:</label>
                            <input type="text" class="form-control" id="nameRouter">
                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" id="addRouter">Add</button>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" id="deleteRouter">Delete</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <!-- The Modal Deploy -->
    <div class="modal fade" id="myModal4">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Deploy</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" id="deploy">Deploy</button>
                            <div style="background-color:#333;" id="progressTest"></div>

                        </div>

                    </form>
                    <div id="endpoint">
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <!-- The Modal Destroy -->
    <div class="modal fade" id="myModal5">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Destroy</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" id="destroy">Destroy</button>
                            <div style="background-color:#333;" id="progressTestDestroy"></div>

                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <!-- The Modal Rip -->
    <div class="modal fade" id="myModal6">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Run RIP</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form>
                        <h5 class="text-center ">Topic to subscribe MqttLog</h5>
                        <input type="text" class="form-control" id="topic" defoult="all">
                        <h5 class="text-center ">Check if you want to see the RIP log</h5>
                        <div class="form-group" id="ripDiv">
                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" id="runRip">run</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>


    <!-- The Modal Ospf -->
    <div class="modal fade" id="myModal7">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Run Ospf</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form>
                        <h5 class="text-center ">Check if you want to see the OSPF log</h5>
                        <div class="form-group" id="ospfDiv">
                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" id="runOspf">run</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>


    <!-- The Modal Save -->
    <div class="modal fade" id="myModal8">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Save</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <h5 class="text-center ">Only save the structure not de virtual machine</h5>
                            <label for="save">Laboratory Name:</label>
                            <input type="text" class="form-control" id="saveText">
                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" id="save">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <!-- The Modal Load -->
    <div class="modal fade" id="myModal9">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Load</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form>
                        <h5 class="text-center ">Check if you want to load some laboratory</h5>
                        <div class="form-group" id="loadDiv">
                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" id="load">Load</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <!-- The Modal Info Network -->
    <div class="modal fade" id="myModal10">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Info Network</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form>
                        <h5 class="text-center ">This is the info of the current network map</h5>
                        <div class="form-group" id="infoDiv">
                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>


</div>
<!-- /#page-content-wrapper -->
<script src="../statics/js/jquery.js"></script>
<script src="../statics/js/bootstrap.min.js"></script>
<script src="../statics/cytoscape/dist/cytoscape.min.js"></script>
<script src='https://cdn.rawgit.com/cpettitt/dagre/v0.7.4/dist/dagre.min.js'></script>
<script src='https://cdn.rawgit.com/cytoscape/cytoscape.js-dagre/1.1.2/cytoscape-dagre.js'></script>
<!-- cytoscape popper -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.5/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cytoscape-popper@1.0.2/cytoscape-popper.min.js"></script>
<script src="../statics/js/code.js"></script>
<script src="../statics/js/stream.js"></script>
</body>
</html>
</html>