<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="../statics/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../statics/css/simple-sidebar.css" rel="stylesheet">
    <link href="../statics/css/style.css" rel="stylesheet">
</head>

<body>
<div class="container-fluid">
  <div class="row">
        <div class="col-sm-2">
                <div id="wrapper" class="container">

                    <!-- Sidebar -->
                    <div id="sidebar-wrapper">
                        <ul class="sidebar-nav">
                            <li class="sidebar-brand">
                                <a href="#">
                                    Start Bootstrap
                                </a>
                            </li>
                            <li>
                                <a href="#">Dashboard</a>
                            </li>
                            <li>
                                <a href="#">Shortcuts</a>
                            </li>
                            <li>
                                <a href="#">Overview</a>
                            </li>
                            <li>
                                <a href="#">Events</a>
                            </li>
                            <li>
                                <a href="#">About</a>
                            </li>
                            <li>
                                <a href="#">Services</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
            <!-- /#sidebar-wrapper -->

             </div>
        </div>
        <div class="col-sm-10">

              <div id="cy-container">
                <div id="cy"></div>
              </div>
        </div>
    </div>
</div>
        <!-- /#page-content-wrapper -->
<script src="../statics/js/jquery.js"></script>
<script src="../statics/js/bootstrap.min.js"></script>
<script src="../statics/cytoscape/dist/cytoscape.min.js"></script>
<script src='https://cdn.rawgit.com/cpettitt/dagre/v0.7.4/dist/dagre.min.js'></script>
<script src='https://cdn.rawgit.com/cytoscape/cytoscape.js-dagre/1.1.2/cytoscape-dagre.js'></script>
<script src="../statics/js/code.js"></script>
</body>
</html>
</html>